GitPython==3.1.14
h5py==3.1.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
mlflow==1.14.1
notebook==6.2.0
numpy==1.19.5
packaging==20.9
pandas==1.2.3
Pillow==8.1.2
prompt-toolkit==3.0.17
protobuf==3.15.6
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
scipy==1.6.1
tabulate==0.8.9
tensorboard==2.5
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-determinism==0.3.0
tensorflow-estimator==2.5.0
typing-extensions==3.7.4.3